{% include 'recipes/partials/head.html' %} <!--Inclui o arquivo head.html-->
<body>

    <header class="main-header-container"> <!-- container pagina inteira -->
        <div class="main-header container"> <!--- container menor -->
            <h1> 
                <a class="main-logo" href="/"> <!-- Link que aponta pra home / -->
                    <i class="fas fa-utensils main-logo-icon"></i> <!-- Tem um icone -->
                    <span class="main-logo-text">Recipes</span> <!--Tem um texto-->
                </a>
            </h1>
        </div>
    </header>
</body>

</html>